@using System.Security.Claims
@using System.Linq
@model IEnumerable<VDiary.Models.User>

@{
    ViewData["Title"] = "Edit";
    ViewData["filter"] = "";
    var student = new User();
}

<div class="row">
    <div class="col-sm-4">
        <form asp-action="AddStudent" asp-route-userId ="" asp-route-courseId="@ViewBag.CourseId" asp-route-subjectId="@ViewBag.subjectId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="courseId" class="control-label">FullName</label>
                <select id="ddlStudents" class="form-control" asp-for="@Model.First().Id" value="@ViewBag.Students" asp-items="@ViewBag.Students" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <form asp-controller="Courses" asp-action="AddStudent" asp-route-userId="@item.Id" asp-route-subjectId="@ViewData["SubjectId"]" asp-route-courseId="@ViewData["CourseId"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="submit" value="Add User" class="btn btn-primary" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="ShowMembers" asp-route-subjectId="@ViewData["SubjectId"]" asp-route-courseId="@ViewData["CourseId"]" asp-route-lecturerId="@ViewData["lecturerId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ddlStudents").select2();
        });
    </script>
}
