@using System.Security.Claims
@model VDiary.Models.Course

@{
    ViewData["Title"] = "Create";
    var userId = "";
    var userRole = "";
    @if (User.Identity.IsAuthenticated)
    {
        userId = @User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier).Value;
        userRole = @User.FindFirst(c => c.Type == ClaimTypes.Role).Value;
    }
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
            </div>
            @if (userRole != "Lecturer")
            {
                <div class="form-group">
                    <label asp-for="LecturerId" class="control-label"></label>
                    <select asp-for="LecturerId" class="form-control" asp-items="ViewBag.LecturerId"></select>
                    <span asp-validation-for="LecturerId" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="LecturerId" class="control-label">@Html.DisplayNameFor(model => model.LecturerId)</label>
                    <input type="hidden" asp-for="LecturerId" value="@userId"  class="form-control">
                    <span asp-validation-for="LecturerId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@userId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
