@model IEnumerable<VDiary.Models.SubjectUser>

@{
    ViewData["Title"] = "IndexForLecturer";
}

<h1>Hello @ViewBag.userFullName these are your presences </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    <a asp-controller="Presences" asp-action="PresencesForSubject" asp-route-subjectId="@item.SubjectId" asp-route-lecturerId="@item.BelongsTo">Show presence</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !ViewBag.HasPeireviousPage ? "disabled" : "";
    var nextDisabled = !ViewBag.HasNextPage ? "disabled" : "";
}

<a asp-action="PresencesForSubject"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(ViewBag.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="PresencesForSubject"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(ViewBag.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>