@model IEnumerable<VDiary.Models.Presence>
@using System.Security.Claims



@{
    ViewData["Title"] = "IndexForLecturer";
    var userRole = @User.FindFirst(c => c.Type == ClaimTypes.Role).Value;
    var subjectid = @ViewBag.Subject.Id;
}

<h1>These are all presences from  @ViewBag.Subject.Name witch @ViewBag.Lecturer.FullName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            @foreach (var date in Model.GroupBy(item => item.Time).Distinct())
            {
                <th>
                    @Html.DisplayFor(modelItem => date.Key)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var group in Model.GroupBy(item => item.User.FullName))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => group.Key)
                </td>
                @foreach (var item in group)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                }
                @if (userRole == "Lecturer")
                {
                <td><a asp-action="AllPresencesOfStudent" asp-route-studentId="@group.FirstOrDefault().UserId" asp-route-subjectId="@subjectid">Edit</a></td>
                }
            </tr>
        }

    </tbody>
</table>

<div>
    <a href="javascript:history.go(-1)">Back to List</a>
</div>