@model IEnumerable<VDiary.Models.Grade>


@{
    ViewData["Title"] = "IndexForLecturer";
    var students = ViewBag.Students;
    var subject = ViewBag.Subject;
}

<h1>These are all grades from  @subject.Name  </h1>
<a asp-action="Create" asp-route-id="@subject.Id">Add grade</a> 


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeMark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var student in @students)
        {
            <tr>
                <td>
                    @student.FullName
                </td>
                @foreach (var group in Model.GroupBy(item => item.User.FullName))
                {

                    if (@student.FullName == group.Key)
                    {


                        <td>
                            @foreach (var item in group)
                            {

                                @Html.DisplayFor(modelItem => item.GradeMark)
                                @:&nbsp;
                            }
                        </td>
                    }

                }
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="IndexForLecturer">Back to List</a>
</div>