@model VDiary.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoggedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastLoggedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountExpiryDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountExpiryDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLoginAttemps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxLoginAttemps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FilledLoginAtemps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FilledLoginAtemps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateResetRequest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateResetRequest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
